<div class="home">
<div class="landing">
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="logo2.png" style="height: 100px;width: 100px;" alt=""></a>
      <button class="btn btn-outline-light" style="border-color: #4A90E2;" type="button" routerLink="/login">Sign In</button>
    </div>
  </nav>

  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="logo1.png" alt="">
        <div class="carousel-caption">
         
          <h1>J XStream Play Store</h1>
          <h1>Unlimited movies,TV shows, and more</h1>
          <p>Starts at RS 100.00. Rent anytime.</p>
          <button class="btn btn-primary btn-lg" routerLink="/dvds">RENT DVDs</button>
        </div>
      </div>
    </div>
    <!-- You can add more carousel items if needed -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="main">
  <div class="container">
    <h2 class="text-center mt-4" style="font-family:cursive;color: darkgoldenrod;">New release Movies</h2>

    <!-- Filter -->
    <div class="filter d-flex justify-content-center align-items-center  py-3 rounded-0">
      <button type="button" class="btn btn-outline-light me-2" (click)="handleFilter('All')">
        All
      </button>
      <!-- Static Genre Buttons -->
      <button type="button" class="btn btn-outline-light me-2" (click)="handleFilter('Comedy')">
        Comedy
      </button>
      <button type="button" class="btn btn-outline-light me-2" (click)="handleFilter('Free')">
        Thrill
      </button>
      <button type="button" class="btn btn-outline-light me-2" (click)="handleFilter('Horror')">
        Horror
      </button>

      <!-- Dropdown Button -->
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          See More
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#" (click)="handleFilter('Action')">Action</a></li>
          <li><a class="dropdown-item" href="#" (click)="handleFilter('Drama')">Drama</a></li>
          <li><a class="dropdown-item" href="#" (click)="handleFilter('Comedy')">Comedy</a></li>
        </ul>
      </div>
    </div>
    <!-- Display Filtered Movies -->


    <div class="row mt-4 g-4">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let movie of filteredMovies">
        <div class="card bg-dark border-0">
          <img [src]="movie.imageUrl" class="card-img-top" alt="{{ movie.title }}" />
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text small">Genre: {{ movie.genre }}</p>
            <p class="card-text small">Year: {{ movie.year }}</p>
            <!-- <p class="card-text small">Year: {{ movie.year }}</p> -->

          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->

    <!-- Main Content Section -->
    <!-- <div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card bg-dark text-light border-danger">
        <img src="../../../assets/images/movie1.jpg" class="card-img-top" alt="Action Movies">
        <div class="card-body text-center">
          <h5 class="card-title text-danger">Action</h5>
          <p class="card-text">Thrilling action-packed movies.</p>
        </div>
      </div>
    </div>

    
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card bg-dark text-light border-danger">
        <img src="src/assets/images/drama-movies.jpg" class="card-img-top" alt="Drama Movies">
        <div class="card-body text-center">
          <h5 class="card-title text-danger">Drama</h5>
          <p class="card-text">Heartfelt and emotional stories.</p>
        </div>
      </div>
    </div>

   
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
      <div class="card bg-dark text-light border-danger">
        <img src="assets/images/comedy-movies.jpg" class="card-img-top" alt="Comedy Movies">
        <div class="card-body text-center">
          <h5 class="card-title text-danger">Comedy</h5>
          <p class="card-text">Laugh-out-loud comedies for all ages.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
  </div>

  <div class="container mt-5">
    <h2 class="text-center mb-4" style="font-family:cursive;color: darkgoldenrod;">More Reasons to Join Us</h2>
    <div class="row g-4">
      <div class="col-6 col-sm-6 col-md-3">
        <div class="card text-center bg-dark">
          <div class="card-body">
            <img src="assets/icons/film.svg" alt="Stories Icon" width="50"><br>
            <p class="card-text">Wide Selection of DVDs</p>
            A vast collection of movies, TV shows, and documentaries for all tastes and genres.
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <div class="card text-center bg-dark">
          <div class="card-body">
            <img src="assets/icons/wallet2.svg" alt="Cancel Icon" width="50">
            <p class="card-text">Affordable Prices</p>
            Competitive rental rates to fit any budget, with discounts and special offers available.
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <div class="card text-center bg-dark">
          <div class="card-body">
            <img src="assets/icons/tv-fill.svg" alt="Kids Icon" width="50">
            <p class="card-text">HD Quality & Latest Releases</p>
            Rent the latest movies and TV shows in high-definition or 4K quality.
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-3">
        <div class="card text-center bg-dark">
          <div class="card-body">
            <img src="assets/icons/headset.svg" alt="Watch Icon" width="50">
            <p class="card-text">24/7 Customer Support</p>
            Friendly and available support to help with any questions or issues, at any time.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="text-light py-5 mt-5 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Questions? Contact us.</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
          <li><a href="#" class="text-light text-decoration-none">Investor Relations</a></li>
          <li><a href="#" class="text-light text-decoration-none">Privacy</a></li>
          <li><a href="#" class="text-light text-decoration-none">Speed Test</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Help Center</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Jobs</a></li>
          <li><a href="#" class="text-light text-decoration-none">Cookie Preferences</a></li>
          <li><a href="#" class="text-light text-decoration-none">Legal Notices</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Account</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Ways to Watch</a></li>
          <li><a href="#" class="text-light text-decoration-none">Corporate Information</a></li>
          <li><a href="#" class="text-light text-decoration-none">Only on Netflix</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Media Center</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Terms of Use</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>