<div class="summary-cards" style="display: flex; gap: 20px; padding: 20px;">
  <div class="card" style="background-color: #1A2C4A; color: #ffffff; padding: 20px; border-radius: 8px; flex: 1; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h3 style="font-size: 20px; margin-bottom: 10px;color: #ffffff;">Total Rentals</h3>
    <p style="font-size: 24px; font-weight: bold;">{{ rental.length }}</p>
  </div>
  <div class="card" style="background-color: #1A2C4A; color: #ffffff; padding: 20px; border-radius: 8px; flex: 1; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h3 style="font-size: 20px; margin-bottom: 10px;color: #ffffff;">Total DVDs</h3>
    <p style="font-size: 24px; font-weight: bold;">{{ dvd.length }}</p>
  </div>
  <div class="card" style="background-color: #1A2C4A; color: #ffffff; padding: 20px; border-radius: 8px; flex: 1; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h3 style="font-size: 20px; margin-bottom: 10px;color: #ffffff;">Total Customers</h3>
    <p style="font-size: 24px; font-weight: bold;">{{ customer.length }}</p>
  </div>
</div>
