<!-- The header section can be common across all pages -->
<!-- <header class=" text-light py-3 text-center"> -->
  <app-navbar></app-navbar>
  <!-- <h1 class="text-danger">DVD Rental Store</h1>
  <p>Your one-stop destination for movie rentals</p> -->
<!-- </header> -->

<!-- The router outlet where different components will be rendered based on the route -->
<router-outlet></router-outlet>

<!-- Optional footer section -->
<footer class="bg-black text-light py-3 text-center">
  <p class="mb-0">&copy; 2024 DVD Rental Store. All Rights Reserved.</p>
</footer>
